@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.user {
  min-width: 350px;
  font-family: 'Ubuntu', sans-serif;
  
  .header {
    position: relative;
    background-color: #b8c4c4;
    background-image: url('https://pixabay.com/get/55e9d54a4f51a914f6d1867dda6d49214b6ac3e45656704b772678dd92/background-3909535_1920.jpg');
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: $headerBgImageSize;

    &-pseudo {
      text-align: center;
      padding-top: calc(#{$headerBgImageSize} / 2);
      font-size: 1.5em;
      font-weight: bold;
      color: $preferenceTextTitleColor;
    }

    &-avatar {
      position: absolute;
      width: $headerAvatarSize;
      bottom: calc(#{$headerAvatarSize} / -2);
      left: calc(50% - (#{$headerAvatarSize} / 2));
      border-radius: 50%;
      border: 1px #555 solid;
    }
  }

  .preferences {
    background-color: $preferenceBgColor;
    text-align: left;
    padding: 8rem 3rem 2rem;

    &-title {
      color: $preferenceTextContentColor;
      width: 250px;
      font-size: 1.3em;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $preferenceTextContentColor;
    }

    &-infos {
      margin: 2.5rem 1rem 1rem;

      &-container {
        display: flex;
        flex-direction: column;
        
        .content {
          display: flex;
          flex-direction: column;
            
          &-input-label-field {
            color: $preferenceTextLabelColor;
            font-size: $preferenceLabelFontSize;
            margin: 0.2rem 0;
            width: max-content;
          }
  
          &-input-field {
            color: $preferenceTextContentColor;
            font-size: $preferenceTextContentFontSize;
            margin-bottom: 0.2rem;
            width: max-content;
          }
  
          /* disabled input */
          &-input-field[disabled] {
            background: none;
            border: none;
            margin-bottom: 0.9rem;
          }
  
          &-input-checkbox {
            position: relative;
            margin: 0.5rem 0;
  
            .checkbox {
              margin: 0;
            }
  
            .label {
              font-size: $preferenceTextContentFontSize;
              color: $preferenceTextContentColor;
              padding-left: 0.2rem;
            }
  
            /* disabled input */
            .checkbox[disabled] {
              display: none;
            }
  
            /* disabled input */
            .checkbox[disabled] + .label {
              padding-left: 20px;
            }
  
            /* disabled input */
            .checkbox[disabled] + .label::before {
              position: absolute;
              content: "";
              left: 4px;
              @include checkCustom($preferenceUncheckedColor, 15px, 3px);
            }
  
            /* disabled input */
            .checkbox[disabled]:checked + .label::before {
              @include checkCustom($preferenceCheckedColor, 15px, 3px);
            }
          }

        }
      }

      &-buttons {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;

        .button {
          display: inline-block;
          width: max-content;
          background: none;
          border: none;
          font-size: $preferenceTextContentFontSize;
          text-decoration: underline;
          margin: 0.2rem 0;
          padding: 0;

          &--mode-editor {
            color: $preferenceEditLinkColor;
          }

          &--validate-preferences {
            color: $preferenceValidateLinkColor;
          }
          
          &--delete-account {
            color: $preferenceDeleteLinkColor;
          }
        }
      }
    }
  }
} 

// adjust the title for other devices
@media (min-width: 768px) {
  .user {
    .preferences {
      padding: 4rem 3rem 2rem;
    }
  }
}

// separate infos into 2 block & centered buttons
@media (min-width: 1024px) {
  .user {
    .preferences {
      &-infos {
        &-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .content {
            flex-direction: column;
            width: max-content;
            align-self: center;
          }
        }

        &-buttons {
          flex-direction: row;
          justify-content: center;

          .button {
            margin: 0 1rem;
            text-decoration: none;

            &:hover {
              text-decoration: none;
            }

            &--mode-editor:hover {
              color: $preferenceEditLinkColorHover;
            }

            &--validate-preferences:hover {
              color: $preferenceValidateLinkColorHover;
            }

            &--delete-account:hover {
              color: $preferenceDeleteLinkColorHover;
            }

          }
        }
      }
    }
  }
}
