@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.events {
  background: rgba(black, .9);
  padding: $sectionPaddingMobile;
  color: #fff;


  a:hover {
    border-bottom: 1.5px solid;
  }

    &-title {
      @include title($turquoise);
    }
}
